xml_tests/data/esf.xsd

<xs:schema xmlns:a="abstractInvoice.esf" xmlns:tns="abstractInvoice.esf" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="abstractInvoice.esf">
<xs:element name="invoice" type="tns:AbstractInvoice"/>
<xs:complexType name="AbstractInvoice" abstract="true">
<xs:annotation>
<xs:documentation>
Базовая информация об ЭСФ для всех версий ЭСФ в системе
</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="date" type="xs:string" minOccurs="1">
<xs:annotation>
<xs:documentation>Дата выписки ЭСФ (A 2)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="invoiceType" type="tns:InvoiceType" minOccurs="1">
<xs:annotation>
<xs:documentation>Тип ЭСФ</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="num" minOccurs="1">
<xs:annotation>
<xs:documentation>
Исходящий номер ЭСФ в бухгалтерии отправителя (A 1)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{1,30}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="operatorFullname" minOccurs="1">
<xs:annotation>
<xs:documentation>ФИО оператора отправившего ЭСФ</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="200"/>
<xs:minLength value="0"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="relatedInvoice" type="tns:RelatedInvoice" minOccurs="0">
<xs:annotation>
<xs:documentation>
Служит для связки исправленного/дополнительного ЭСФ с основным
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="turnoverDate" type="xs:string" minOccurs="1">
<xs:annotation>
<xs:documentation>Дата совершения оборота (A 3)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AbstractProductShare">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="AbstractCustomer">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="AbstractProduct">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="RelatedInvoice">
<xs:annotation>
<xs:documentation>
Служит для связки исправленного/дополнительного ЭСФ с основным
</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="date" type="xs:string">
<xs:annotation>
<xs:documentation>Дата выписки ЭСФ (A 4.1, A 5.1)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="num">
<xs:annotation>
<xs:documentation>
Исходящий номер ЭСФ в бухгалтерии отправителя (A 4.2, A 5.2)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{1,30}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="registrationNumber" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Регистрационный номер ЭСФ на которую ссылается данная ЭСФ
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="InvoiceType">
<xs:annotation>
<xs:documentation>Тип ЭСФ</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="ORDINARY_INVOICE">
<xs:annotation>
<xs:documentation>Основной ЭСФ</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="FIXED_INVOICE">
<xs:annotation>
<xs:documentation>Исправленный ЭСФ (A 4)</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="ADDITIONAL_INVOICE">
<xs:annotation>
<xs:documentation>Дополнительный ЭСФ (A 5)</xs:documentation>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>
-	
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
<xs:complexType name="deadline">
<xs:annotation>
<xs:documentation>Контроль сроков отклонения</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="dateInput" type="xs:dateTime" minOccurs="0">
<xs:annotation>
<xs:documentation>Дата ввода ЭСФ</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="deadlineDate" type="xs:dateTime" minOccurs="0">
<xs:annotation>
<xs:documentation>Контрольный срок</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="invoiceId" type="xs:long" minOccurs="0">
<xs:annotation>
<xs:documentation>Идентификатор ЭСФ</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="tin" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>БИН</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="type" type="DeadlineType" minOccurs="0">
<xs:annotation>
<xs:documentation>Тип дэдлайна</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="DeadlineType">
<xs:annotation>
<xs:documentation>Тип контроля сроков</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="DECLINE">
<xs:annotation>
<xs:documentation>Отклонение ЭСФ</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="UNREVOKE">
<xs:annotation>
<xs:documentation>Отклонение отзыва ЭСФ</xs:documentation>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>
-	
<xs:schema xmlns:tns="esf" xmlns:esf="esf" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="esf">
<xs:import/>
<xs:element name="invoiceInfoContainer" type="tns:InvoiceInfoContainer"/>
<xs:complexType name="InvoiceInfoContainer">
<xs:annotation>
<xs:documentation>Данный контейнер используется для экспорта ЭСФ</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="invoiceSet">
<xs:complexType>
<xs:sequence>
<xs:element name="invoiceInfo" type="tns:InvoiceInfo" minOccurs="0" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Информация о зарегистрированном ЭСФ включая бланк</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InvoiceInfo">
<xs:annotation>
<xs:documentation>Информация о зарегистрированном ЭСФ включая бланк</xs:documentation>
</xs:annotation>
<xs:all>
<xs:element name="invoiceBody" type="xs:string">
<xs:annotation>
<xs:documentation>ЭСФ (XML)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="invoiceId" type="xs:long" minOccurs="0">
<xs:annotation>
<xs:documentation>Идентификатор ЭСФ в системе</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="registrationNumber" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Регистрационный номер ЭСФ</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="inputDate" type="xs:dateTime">
<xs:annotation>
<xs:documentation>Дата поступления ЭСФ в систему</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="deliveryDate" type="xs:dateTime" minOccurs="0">
<xs:annotation>
<xs:documentation>Дата доставки</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="lastUpdateDate" type="xs:dateTime">
<xs:annotation>
<xs:documentation>Дата обновления ЭСФ</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="signatureValid" type="xs:boolean">
<xs:annotation>
<xs:documentation>Статус ЭЦП</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="invoiceStatus" type="tns:InvoiceStatus" minOccurs="0">
<xs:annotation>
<xs:documentation>Cтатус ЭСФ в системе</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="cancelReason" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Причина аннулирования</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="version" type="xs:string">
<xs:annotation>
<xs:documentation>Версия ЭСФ</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="hash" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Хэш</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="signature" minOccurs="1">
<xs:annotation>
<xs:documentation>ЭЦП (J)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="400"/>
<xs:minLength value="0"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="signatureType" type="tns:SignatureType" minOccurs="1">
<xs:annotation>
<xs:documentation>Тип ЭЦП (J)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="certificate" type="xs:string">
<xs:annotation>
<xs:documentation>
Сертификат для проверки подписи СФ, который содержит также информацию о пользователе — владельце сертификата, который и создал ЭСФ
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="deadline" type="deadline" minOccurs="0">
<xs:annotation>
<xs:documentation>Дэдлайн отклонения</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="kogd" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Код органа государственных доходов</xs:documentation>
</xs:annotation>
</xs:element>
</xs:all>
</xs:complexType>
<xs:simpleType name="InvoiceStatus">
<xs:annotation>
<xs:documentation>Cтатус ЭСФ в системе</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="CREATED">
<xs:annotation>
<xs:documentation>Созданный</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="DELIVERED">
<xs:annotation>
<xs:documentation>Доставленный</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="CANCELED">
<xs:annotation>
<xs:documentation>Аннулированный</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="REVOKED">
<xs:annotation>
<xs:documentation>Отозванный</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="IMPORTED">
<xs:annotation>
<xs:documentation>Импортированный</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="DRAFT">
<xs:annotation>
<xs:documentation>Черновик</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="FAILED">
<xs:annotation>
<xs:documentation>Ошибочный</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="DELETED">
<xs:annotation>
<xs:documentation>Удаленный</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="DECLINED">
<xs:annotation>
<xs:documentation>Отклоненный</xs:documentation>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SignatureType">
<xs:annotation>
<xs:documentation>Тип ЭЦП (J)</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="COMPANY">
<xs:annotation>
<xs:documentation>ЭЦП юридического лица (J 1)</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="OPERATOR">
<xs:annotation>
<xs:documentation>
ЭЦП лица, уполномоченного подписывать счета-фактуры (J 2)
</xs:documentation>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>
-	
<xs:schema xmlns:tns="v1.esf" xmlns:v1="v1.esf" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="abstractInvoice.esf" version="1.0" targetNamespace="v1.esf">
<xs:import namespace="abstractInvoice.esf"/>
<xs:element name="invoice" type="tns:InvoiceV1"/>
<xs:complexType name="InvoiceV1">
<xs:annotation>
<xs:documentation>ЭСФ</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ns1:AbstractInvoice">
<xs:sequence>
<xs:element name="addInf" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Дополнительная информация (I)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="consignee" type="tns:Consignee" minOccurs="0">
<xs:annotation>
<xs:documentation>Реквизиты грузополучателя (D 24)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="consignor" type="tns:Consignor" minOccurs="0">
<xs:annotation>
<xs:documentation>Реквизиты грузоотправителя (D 23)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="customerParticipants" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="participant" type="tns:Participant" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Получатель (УСД) (H)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="customers">
<xs:complexType>
<xs:sequence>
<xs:element name="customer" type="tns:Customer" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Получатель (C)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="deliveryTerm" type="tns:DeliveryTerm" minOccurs="0">
<xs:annotation>
<xs:documentation>Условия поставки (E)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="productSet" type="tns:ProductSet" minOccurs="1">
<xs:annotation>
<xs:documentation>Товары (работы, услуги) (G)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="publicOffice" type="tns:PublicOffice" minOccurs="0">
<xs:annotation>
<xs:documentation>Реквизиты государственного учреждения (F)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="sellerParticipants" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="participant" type="tns:Participant" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Поставщик (УСД) (H)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="sellers">
<xs:complexType>
<xs:sequence>
<xs:element name="seller" type="tns:Seller" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Поставщик (B)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Consignee">
<xs:annotation>
<xs:documentation>Реквизиты грузополучателя (D 24)</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Адрес (D 24.3)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Наименование (D 24.2)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="tin" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>ИИН/БИН (24.1)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Consignor">
<xs:annotation>
<xs:documentation>Реквизиты грузоотправителя (D 23)</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Адрес (D 24.3)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Наименование (D 24.2)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="tin" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>ИИН/БИН (D 23.1)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Participant">
<xs:annotation>
<xs:documentation>УСД (H)</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="productShares">
<xs:complexType>
<xs:sequence>
<xs:element name="share" type="tns:ProductShare" minOccurs="1" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Информация по товарам (работам, услугам)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="rnn" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>РНН реорганизованного лица</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="tin" type="xs:string" minOccurs="1">
<xs:annotation>
<xs:documentation>ИИН/БИН участника совместной деятельности (H 18)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProductShare">
<xs:annotation>
<xs:documentation>Информация по товарам (работам, услугам)</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ns1:AbstractProductShare">
<xs:sequence>
<xs:element name="additional" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Дополнительные данные (H 17)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="exciseAmount" minOccurs="0">
<xs:annotation>
<xs:documentation>Акциз-Сумма (H 9)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="ndsAmount" minOccurs="1">
<xs:annotation>
<xs:documentation>НДС-Сумма (H 12)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="priceWithTax" minOccurs="1">
<xs:annotation>
<xs:documentation>Стоимость ТРУ с учетом НДС (H 13)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="priceWithoutTax" minOccurs="1">
<xs:annotation>
<xs:documentation>Стоимость ТРУ без учета НДС (H 7)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="productNumber">
<xs:annotation>
<xs:documentation>Номер продукта (товара, услуги) (G 1)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:int">
<xs:maxInclusive value="200"/>
<xs:minInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="quantity" minOccurs="0">
<xs:annotation>
<xs:documentation>Кол-во (объем) (H 5)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="6"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="turnoverSize" minOccurs="1">
<xs:annotation>
<xs:documentation>Размер оборота по реализации (H 10)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Customer">
<xs:annotation>
<xs:documentation>Получатель (C)</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ns1:AbstractCustomer">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Адрес (C 19)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="countryCode" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Код страны получателя. Обязательно заполняется если установлен статус CustomerType.NONRESIDENT и SellerType.EXPORTER (C 20)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" type="xs:string" minOccurs="1">
<xs:annotation>
<xs:documentation>Наименование получателя (C 18)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="rnn" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
РНН реорганизованного лица. Может отсутствовать. (C 17.1)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="statuses" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="status" type="tns:CustomerType" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Тип получателя</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="tin" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
ИИН/БИН. Может отсутствовать если установлен статус CustomerType.NONRESIDENT (C 17)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="trailer" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Дополнительные сведения</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="DeliveryTerm">
<xs:annotation>
<xs:documentation>Условия поставки (E)</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="contractDate" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Дата договора(контракт) на поставку товаров (работ, услуг) (E 25.2)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="contractNum" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Номер договора(контракт) на поставку товаров (работ, услуг) (E 25.1)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="destination" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Пункт назначения поставляемых товаров (работ, услуг) (E 29)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="exerciseWay" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Способ отправления (E 27)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="term" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Условия оплаты по договору (E 26)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="warrant" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Номер доверенности на поставку товаров (работ, услуг) (E 28.1)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="warrantDate" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Дата доверенности на поставку товаров (работ, услуг) (E 28.2)
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProductSet">
<xs:annotation>
<xs:documentation>Товары (работы, услуги) (G)</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="currencyCode" type="xs:string" minOccurs="1">
<xs:annotation>
<xs:documentation>Код валюты (G 13)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="currencyRate" minOccurs="0">
<xs:annotation>
<xs:documentation>Курс валюты</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="14"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="product" type="tns:Product" minOccurs="1" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Данные по ТРУ</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="totalExciseAmount" minOccurs="1">
<xs:annotation>
<xs:documentation>Итоговая Акциз-Сумма (G 9)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="totalNdsAmount" minOccurs="1">
<xs:annotation>
<xs:documentation>Итоговая НДС-Сумма (G 12)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="totalPriceWithTax" minOccurs="1">
<xs:annotation>
<xs:documentation>Итоговая стоимость ТРУ с учетом НДС (G 13)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="totalPriceWithoutTax" minOccurs="1">
<xs:annotation>
<xs:documentation>Итоговая стоимость ТРУ без учета НДС (G 7)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="totalTurnoverSize" minOccurs="1">
<xs:annotation>
<xs:documentation>Итоговый размер оборота по реализации (G 10)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Product">
<xs:annotation>
<xs:documentation>Товар (работа, услуга)</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ns1:AbstractProduct">
<xs:sequence>
<xs:element name="additional" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Дополнительные данные (G 17)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="applicationNumberInCustomsUnion" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Номер заявления в рамках ТС (G 16)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="description" type="xs:string" minOccurs="1">
<xs:annotation>
<xs:documentation>Наименование ТРУ (G 2)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="exciseAmount" minOccurs="0">
<xs:annotation>
<xs:documentation>Акциз-Сумма (G 9)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="exciseRate" minOccurs="0">
<xs:annotation>
<xs:documentation>Акциз-Ставка (G 8)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:minInclusive value="0"/>
<xs:totalDigits value="14"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="ndsAmount" minOccurs="1">
<xs:annotation>
<xs:documentation>НДС-Сумма (G 12)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="ndsRate" minOccurs="0">
<xs:annotation>
<xs:documentation>НДС-Ставка (G 11)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:int">
<xs:maxInclusive value="100"/>
<xs:minInclusive value="0"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="priceWithTax" minOccurs="1">
<xs:annotation>
<xs:documentation>Стоимость ТРУ с учетом НДС (G 13)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="priceWithoutTax" minOccurs="1">
<xs:annotation>
<xs:documentation>Стоимость ТРУ без учета НДС (G 7)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="quantity" minOccurs="0">
<xs:annotation>
<xs:documentation>Кол-во (объем) (G 5)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="6"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="turnoverSize" minOccurs="1">
<xs:annotation>
<xs:documentation>Размер оборота по реализации (G 10)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="unitCode" minOccurs="0">
<xs:annotation>
<xs:documentation>Код товара (ТНВД) (G 3)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="10"/>
<xs:minLength value="0"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="unitNomenclature" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Ед.изм (G 4)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="unitPrice" minOccurs="0">
<xs:annotation>
<xs:documentation>Цена (тариф) за единицу ТРУ без учета НДС (G 6)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="6"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="PublicOffice">
<xs:annotation>
<xs:documentation>Реквизиты государственного учреждения (F)</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="bik" default="KKMFKZ2A" minOccurs="1">
<xs:annotation>
<xs:documentation>БИК. Неизменяемое поле (F 33)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="KKMFKZ2A"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="iik" type="xs:string" minOccurs="1">
<xs:annotation>
<xs:documentation>Расчетный счет (F 30)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="payPurpose" minOccurs="1">
<xs:annotation>
<xs:documentation>Назначение платежа (F 32)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value=".[^:\n\r\t]*"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="productCode" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Код товаров (работ, услуг) (F 31)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Seller">
<xs:annotation>
<xs:documentation>Поставщик (B)</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ns1:AbstractCustomer">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Адрес (B 8)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="bank" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Банк (B 16)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="bik" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>БИК (B 15)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="certificateNum" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Номер cвидетельства НДС (B 9.2)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="certificateSeries" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Серия cвидетельства НДС (B 9.1)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="deliveryDocDate" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Дата документа, подтверждающего поставку товаров (работ, услуг) (B 11.2)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="deliveryDocNum" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Номер документа, подтверждающего поставку товаров (работ, услуг) (B 11.1)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="iik" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Расчетный счет (B 14)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="kbe" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>КБе (B 13)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" type="xs:string" minOccurs="1">
<xs:annotation>
<xs:documentation>Наименование поставщика (B 7)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="rnn" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>РНН реорганизованного лица (B 6.1)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="statuses" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="status" type="tns:SellerType" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Тип поставщика</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="tin" type="xs:string" minOccurs="1">
<xs:annotation>
<xs:documentation>ИИН/БИН (B 6)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="trailer" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Дополнительные сведения (B 12)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:simpleType name="CustomerType">
<xs:annotation>
<xs:documentation>Тип получателя (C 22)</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="COMMITTENT">
<xs:annotation>
<xs:documentation>Комитент</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="BROKER">
<xs:annotation>
<xs:documentation>Комиссионер</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="LESSEE">
<xs:annotation>
<xs:documentation>Лизингополучатель</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="JOINT_ACTIVITY_PARTICIPANT">
<xs:annotation>
<xs:documentation>Участник договора совместной деятельности</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="PUBLIC_OFFICE">
<xs:annotation>
<xs:documentation>Государственное учреждение</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="NONRESIDENT">
<xs:annotation>
<xs:documentation>Нерезидент</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="INDIVIDUAL">
<xs:annotation>
<xs:documentation>Физическое лицо</xs:documentation>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SellerType">
<xs:annotation>
<xs:documentation>Тип поставщика (B 10)</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="COMMITTENT">
<xs:annotation>
<xs:documentation>Комитент</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="BROKER">
<xs:annotation>
<xs:documentation>Комиссионер</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="FORWARDER">
<xs:annotation>
<xs:documentation>Экспедитор</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="LESSOR">
<xs:annotation>
<xs:documentation>Лизингодатель</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="JOINT_ACTIVITY_PARTICIPANT">
<xs:annotation>
<xs:documentation>Участник договора совместной деятельности</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="EXPORTER">
<xs:annotation>
<xs:documentation>Экспортёр</xs:documentation>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>
-	
<xs:schema xmlns:tns="v2.esf" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:v2="v2.esf" xmlns:ns1="abstractInvoice.esf" version="1.0" targetNamespace="v2.esf">
<xs:import namespace="abstractInvoice.esf"/>
<xs:element name="invoice" type="tns:InvoiceV2"/>
<xs:complexType name="InvoiceV2">
<xs:annotation>
<xs:documentation>ЭСФ</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ns1:AbstractInvoice">
<xs:sequence>
<xs:element name="addInf" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Дополнительная информация (I)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="consignee" type="tns:Consignee" minOccurs="0">
<xs:annotation>
<xs:documentation>Реквизиты грузополучателя (D 24)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="consignor" type="tns:Consignor" minOccurs="0">
<xs:annotation>
<xs:documentation>Реквизиты грузоотправителя (D 23)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="customerAgentAddress" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Реквизиты поверенного (оператора) покупателя. Адрес места нахождения (J 41)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="customerAgentDocDate" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Документ-Дата (J 42.2)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="customerAgentDocNum" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Документ-Номер (J 42.1)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="customerAgentName" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Реквизиты поверенного (оператора) покупателя. Поверенный (J 40)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="customerAgentTin" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Реквизиты поверенного (оператора) покупателя. БИН (J 39)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="customerParticipants" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="participant" type="tns:Participant" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Получатель (УСД) (H)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="customers">
<xs:complexType>
<xs:sequence>
<xs:element name="customer" type="tns:Customer" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Получатель (C)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="datePaper" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Дата выписки на бумажном носителе (2.1)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="deliveryDocDate" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Дата документа, подтверждающего поставку товаров (работ, услуг) (F 32.2)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="deliveryDocNum" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Номер документа, подтверждающего поставку товаров (работ, услуг) (F 32.1)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="deliveryTerm" type="tns:DeliveryTerm" minOccurs="0">
<xs:annotation>
<xs:documentation>Условия поставки (E)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="productSet" type="tns:ProductSet" minOccurs="1">
<xs:annotation>
<xs:documentation>Товары (работы, услуги) (G)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="publicOffice" type="tns:PublicOffice" minOccurs="0">
<xs:annotation>
<xs:documentation>Реквизиты государственного учреждения (F)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="reasonPaper" type="tns:PaperReasonType" minOccurs="0">
<xs:annotation>
<xs:documentation>Причина выписки на бумажном носителе (2.1)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="sellerAgentAddress" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Адрес места нахождения (I 37)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="sellerAgentDocDate" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Документ-Дата (I 38.2)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="sellerAgentDocNum" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Документ-Номер (I 38.1)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="sellerAgentName" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Поверенный (I 36)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="sellerAgentTin" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>БИН (I 35)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="sellerParticipants" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="participant" type="tns:Participant" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Поставщик (УСД) (H)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="sellers">
<xs:complexType>
<xs:sequence>
<xs:element name="seller" type="tns:Seller" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Поставщик (B)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Consignee">
<xs:annotation>
<xs:documentation>Реквизиты грузополучателя (D 26)</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Адрес (D 26.3)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="countryCode" type="xs:string" minOccurs="1">
<xs:annotation>
<xs:documentation>Код страны (D 26.4)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Наименование (D 26.2)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="tin" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>ИИН/БИН (D 26.1)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Consignor">
<xs:annotation>
<xs:documentation>Реквизиты грузоотправителя (D 25)</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Адрес (D 25.3)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Наименование (D 25.2)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="tin" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>ИИН/БИН (D 25.1)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Participant">
<xs:annotation>
<xs:documentation>УСД (H)</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="productShares">
<xs:complexType>
<xs:sequence>
<xs:element name="share" type="tns:ProductShare" minOccurs="1" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Информация по товарам (работам, услугам)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="reorganizedTin" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>БИН реорганизованного лица (H 34.2)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="tin" type="xs:string" minOccurs="1">
<xs:annotation>
<xs:documentation>ИИН/БИН участника совместной деятельности (H 34.1)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProductShare">
<xs:annotation>
<xs:documentation>Информация по товарам (работам, услугам)</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ns1:AbstractProductShare">
<xs:sequence>
<xs:element name="additional" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Дополнительные данные (H 18)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="exciseAmount" minOccurs="0">
<xs:annotation>
<xs:documentation>Акциз-Сумма (H 10)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="ndsAmount" minOccurs="1">
<xs:annotation>
<xs:documentation>НДС-Сумма (H 13)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="priceWithTax" minOccurs="1">
<xs:annotation>
<xs:documentation>Стоимость ТРУ с учетом НДС (H 14)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="priceWithoutTax" minOccurs="1">
<xs:annotation>
<xs:documentation>Стоимость ТРУ без учета НДС (H 7)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="productNumber">
<xs:annotation>
<xs:documentation>Номер продукта (товара, услуги) (H 1)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:int">
<xs:maxInclusive value="200"/>
<xs:minInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="quantity" minOccurs="0">
<xs:annotation>
<xs:documentation>Кол-во (объем) (H 6)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="6"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="turnoverSize" minOccurs="1">
<xs:annotation>
<xs:documentation>Размер оборота по реализации (H 11)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Customer">
<xs:annotation>
<xs:documentation>Реквищиты получателя (C)</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ns1:AbstractCustomer">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Адрес (C 18)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="branchTin" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>БИН филиала, выписавшего ЭСФ за голову</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="countryCode" type="xs:string" minOccurs="1">
<xs:annotation>
<xs:documentation>
Код страны получателя. Обязательно заполняется если установлен статус CustomerType.NONRESIDENT и SellerType.EXPORTER (C 18.1)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" type="xs:string" minOccurs="1">
<xs:annotation>
<xs:documentation>Наименование получателя (C 17)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="reorganizedTin" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>БИН реорганизованного лица (B 16.1)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="shareParticipation" minOccurs="0">
<xs:annotation>
<xs:documentation>Доля участия (С 17.1)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="6"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="statuses" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="status" type="tns:CustomerType" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Категория получателя (С 20)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="tin" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
ИИН/БИН. Может отсутствовать если установлен статус CustomerType.NONRESIDENT (C 16)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="trailer" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Дополнительные сведения (C 19)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="DeliveryTerm">
<xs:annotation>
<xs:documentation>Условия поставки (E)</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="contractDate" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Дата договора(контракт) на поставку товаров (работ, услуг) (E 27.4)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="contractNum" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Номер договора(контракт) на поставку товаров (работ, услуг) (E 27.3)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="deliveryConditionCode" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Условия поставки (E 31.1)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="destination" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Пункт назначения поставляемых товаров (работ, услуг) (E 31)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="hasContract" type="xs:boolean">
<xs:annotation>
<xs:documentation>
Договор/без договора (E 27.1 - true, E27.2 - false)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="term" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Условия оплаты по договору (E 28)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="transportTypeCode" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Способ отправления (E 29)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="warrant" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Номер доверенности на поставку товаров (работ, услуг) (E 30.1)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="warrantDate" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Дата доверенности на поставку товаров (работ, услуг) (E 30.2)
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProductSet">
<xs:annotation>
<xs:documentation>Данные по товарам, работам, услугам (G)</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="currencyCode" type="xs:string" minOccurs="1">
<xs:annotation>
<xs:documentation>Код валюты (G 33.1)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="currencyRate" minOccurs="0">
<xs:annotation>
<xs:documentation>Курс валюты (G 33.2)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="6"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="products">
<xs:complexType>
<xs:sequence>
<xs:element name="product" type="tns:Product" minOccurs="1" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Данные по ТРУ</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="totalExciseAmount" minOccurs="1">
<xs:annotation>
<xs:documentation>Итоговая Акциз-Сумма (G 10)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="totalNdsAmount" minOccurs="1">
<xs:annotation>
<xs:documentation>Итоговая НДС-Сумма (G 13)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="totalPriceWithTax" minOccurs="1">
<xs:annotation>
<xs:documentation>Итоговая стоимость ТРУ с учетом НДС (G 14)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="totalPriceWithoutTax" minOccurs="1">
<xs:annotation>
<xs:documentation>Итоговая стоимость ТРУ без учета НДС (G 8)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="totalTurnoverSize" minOccurs="1">
<xs:annotation>
<xs:documentation>Итоговый размер оборота по реализации (G 11)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Product">
<xs:annotation>
<xs:documentation>Товар (работа, услуга)</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ns1:AbstractProduct">
<xs:sequence>
<xs:element name="additional" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Дополнительные данные (G 18)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="catalogTruId" type="xs:string" minOccurs="1">
<xs:annotation>
<xs:documentation>Идентификатор товара, работ, услуг (G 17)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="description" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Наименование ТРУ (G 3)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="exciseAmount" minOccurs="0">
<xs:annotation>
<xs:documentation>Акциз-Сумма (G 10)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="exciseRate" minOccurs="0">
<xs:annotation>
<xs:documentation>Акциз-Ставка (G 9)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:minInclusive value="0"/>
<xs:totalDigits value="14"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="kpvedCode" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Классификатор продукции по видам экономической деятельности
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ndsAmount" minOccurs="1">
<xs:annotation>
<xs:documentation>НДС-Сумма (G 13)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="ndsRate" minOccurs="0">
<xs:annotation>
<xs:documentation>НДС-Ставка (G 12)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:int">
<xs:maxInclusive value="100"/>
<xs:minInclusive value="0"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="priceWithTax" minOccurs="1">
<xs:annotation>
<xs:documentation>Стоимость ТРУ с учетом НДС (G 14)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="priceWithoutTax" minOccurs="1">
<xs:annotation>
<xs:documentation>Стоимость ТРУ без косвенных налогов (G 8)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="productDeclaration" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Декларации на товары, заявления в рамках ТС, СТ-1 или СТ-KZ(G 15)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="productNumberInDeclaration" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Номер товарной позиции из заявления в рамках ТС или Декларации на товары (G 16)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="quantity" minOccurs="0">
<xs:annotation>
<xs:documentation>Кол-во (объем) (G 6)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="6"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="tnvedName" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>
Наименование товаров по классификатору ТН ВЭД ЕАЭС (G 3/1)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="truOriginCode" minOccurs="1">
<xs:annotation>
<xs:documentation>Признак происхождения ТРУ (G 2)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[1-6]"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="turnoverSize" minOccurs="1">
<xs:annotation>
<xs:documentation>
Размер оборота по реализации (облагаемый/необлагаемый оборот) (G 11)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="17"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="unitCode" minOccurs="0">
<xs:annotation>
<xs:documentation>Код товара (ТНВД ЕАЭС) (G 4)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{1,10}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="unitNomenclature" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Ед.изм (G 5)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="unitPrice" minOccurs="0">
<xs:annotation>
<xs:documentation>
Цена (тариф) за единицу ТРУ без косвенных налогов (G 7)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="6"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="PublicOffice">
<xs:annotation>
<xs:documentation>Реквизиты государственного учреждения (C1)</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="bik" default="KKMFKZ2A" minOccurs="1">
<xs:annotation>
<xs:documentation>БИК. Неизменяемое поле (C1 24)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="KKMFKZ2A"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="iik" minOccurs="0">
<xs:annotation>
<xs:documentation>ИИК (C1 21)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9A-Z]{20}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="payPurpose" minOccurs="0">
<xs:annotation>
<xs:documentation>Назначение платежа (C1 23)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[^\s:][^:\n\r\t]*"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="productCode" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Код товаров (работ, услуг) (C1 22)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Seller">
<xs:annotation>
<xs:documentation>Реквизиты поставщика (B)</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ns1:AbstractCustomer">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Адрес (B 8)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="bank" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Наименование банка (B1 15)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="bik" minOccurs="0">
<xs:annotation>
<xs:documentation>БИК (B1 14)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9A-Z]{8}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="branchTin" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>БИН филиала, выписавшего ЭСФ за голову</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="certificateNum" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Номер cвидетельства НДС (B 9.2)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="certificateSeries" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Серия cвидетельства НДС (B 9.1)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="iik" minOccurs="0">
<xs:annotation>
<xs:documentation>Расчетный счет (B1 13)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9A-Z]{20}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="kbe" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>КБе (B1 12)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" type="xs:string" minOccurs="1">
<xs:annotation>
<xs:documentation>Наименование поставщика (B 7)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="reorganizedTin" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>БИН реорганизованного лица (B 6.1)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="shareParticipation" minOccurs="0">
<xs:annotation>
<xs:documentation>Доля участия (B 7.1)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="6"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="statuses" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="status" type="tns:SellerType" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Категория поставщика (B 10)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="tin" type="xs:string" minOccurs="1">
<xs:annotation>
<xs:documentation>ИИН/БИН (B 6)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="trailer" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation>Дополнительные сведения (B 11)</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:simpleType name="CustomerType">
<xs:annotation>
<xs:documentation>Тип получателя (C 22)</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="COMMITTENT">
<xs:annotation>
<xs:documentation>Комитент</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="BROKER">
<xs:annotation>
<xs:documentation>Комиссионер</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="LESSEE">
<xs:annotation>
<xs:documentation>Лизингополучатель</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="JOINT_ACTIVITY_PARTICIPANT">
<xs:annotation>
<xs:documentation>Участник договора совместной деятельности</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="PUBLIC_OFFICE">
<xs:annotation>
<xs:documentation>Государственное учреждение</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="NONRESIDENT">
<xs:annotation>
<xs:documentation>Нерезидент</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="SHARING_AGREEMENT_PARTICIPANT">
<xs:annotation>
<xs:documentation>Участник СРП или сделки, заключенной в рамках СРП</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="PRINCIPAL">
<xs:annotation>
<xs:documentation>Доверитель</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="RETAIL">
<xs:annotation>
<xs:documentation>Розничная реализация</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="INDIVIDUAL">
<xs:annotation>
<xs:documentation>Физическое лицо</xs:documentation>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PaperReasonType">
<xs:annotation>
<xs:documentation>Причина выписки на бумажном носителе (2.1)</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="DOWN_TIME">
<xs:annotation>
<xs:documentation>Простой системы</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="MISSING_REQUIREMENT">
<xs:annotation>
<xs:documentation>Отсутствовало требование по выписке ЭСФ</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="UNLAWFUL_REMOVAL_REGISTRATION">
<xs:annotation>
<xs:documentation>Неправомерное снятие с регистрационного учета</xs:documentation>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SellerType">
<xs:annotation>
<xs:documentation>Тип поставщика (B 10)</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="COMMITTENT">
<xs:annotation>
<xs:documentation>Комитент</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="BROKER">
<xs:annotation>
<xs:documentation>Комиссионер</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="FORWARDER">
<xs:annotation>
<xs:documentation>Экспедитор</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="LESSOR">
<xs:annotation>
<xs:documentation>Лизингодатель</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="JOINT_ACTIVITY_PARTICIPANT">
<xs:annotation>
<xs:documentation>Участник договора совместной деятельности</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="SHARING_AGREEMENT_PARTICIPANT">
<xs:annotation>
<xs:documentation>Участник СРП или сделки, заключенной в рамках СРП</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="EXPORTER">
<xs:annotation>
<xs:documentation>Экспортёр</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="TRANSPORTER">
<xs:annotation>
<xs:documentation>Международный перевозчик</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="PRINCIPAL">
<xs:annotation>
<xs:documentation>Доверитель</xs:documentation>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>
