xml_tests/data/invoiceV1.xsd

<xs:schema xmlns:tns="v1.esf" xmlns:v1="v1.esf" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="abstractInvoice.esf" version="1.0" targetNamespace="v1.esf">
    <xs:import namespace="abstractInvoice.esf"/>
    <xs:element name="invoice" type="tns:InvoiceV1"/>
    <xs:complexType name="InvoiceV1">
        <xs:annotation>
            <xs:documentation>ЭСФ</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ns1:AbstractInvoice">
                <xs:sequence>
                    <xs:element name="addInf" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Дополнительная информация (I)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="consignee" type="tns:Consignee" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Реквизиты грузополучателя (D 24)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="consignor" type="tns:Consignor" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Реквизиты грузоотправителя (D 23)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="customerParticipants" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="participant" type="tns:Participant" maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation>Получатель (УСД) (H)</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="customers">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="customer" type="tns:Customer" maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation>Получатель (C)</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="deliveryTerm" type="tns:DeliveryTerm" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Условия поставки (E)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="productSet" type="tns:ProductSet" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Товары (работы, услуги) (G)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="publicOffice" type="tns:PublicOffice" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Реквизиты государственного учреждения (F)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="sellerParticipants" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="participant" type="tns:Participant" maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation>Поставщик (УСД) (H)</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="sellers">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="seller" type="tns:Seller" maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation>Поставщик (B)</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Consignee">
        <xs:annotation>
            <xs:documentation>Реквизиты грузополучателя (D 24)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="address" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Адрес (D 24.3)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Наименование (D 24.2)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tin" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>ИИН/БИН (24.1)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Consignor">
        <xs:annotation>
            <xs:documentation>Реквизиты грузоотправителя (D 23)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="address" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Адрес (D 24.3)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Наименование (D 24.2)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tin" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>ИИН/БИН (D 23.1)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Participant">
        <xs:annotation>
            <xs:documentation>УСД (H)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="productShares">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="share" type="tns:ProductShare" minOccurs="1" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Информация по товарам (работам, услугам)</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="rnn" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>РНН реорганизованного лица</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tin" type="xs:string" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>ИИН/БИН участника совместной деятельности (H 18)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProductShare">
        <xs:annotation>
            <xs:documentation>Информация по товарам (работам, услугам)</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ns1:AbstractProductShare">
                <xs:sequence>
                    <xs:element name="additional" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Дополнительные данные (H 17)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="exciseAmount" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Акциз-Сумма (H 9)</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:fractionDigits value="2"/>
                                <xs:totalDigits value="17"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="ndsAmount" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>НДС-Сумма (H 12)</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:fractionDigits value="2"/>
                                <xs:totalDigits value="17"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="priceWithTax" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Стоимость ТРУ с учетом НДС (H 13)</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:fractionDigits value="2"/>
                                <xs:totalDigits value="17"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="priceWithoutTax" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Стоимость ТРУ без учета НДС (H 7)</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:fractionDigits value="2"/>
                                <xs:totalDigits value="17"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="productNumber">
                        <xs:annotation>
                            <xs:documentation>Номер продукта (товара, услуги) (G 1)</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:int">
                                <xs:maxInclusive value="200"/>
                                <xs:minInclusive value="1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="quantity" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Кол-во (объем) (H 5)</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:fractionDigits value="6"/>
                                <xs:totalDigits value="18"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="turnoverSize" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Размер оборота по реализации (H 10)</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:fractionDigits value="2"/>
                                <xs:totalDigits value="17"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Customer">
        <xs:annotation>
            <xs:documentation>Получатель (C)</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ns1:AbstractCustomer">
                <xs:sequence>
                    <xs:element name="address" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Адрес (C 19)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="countryCode" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
Код страны получателя. Обязательно заполняется если установлен статус CustomerType.NONRESIDENT и SellerType.EXPORTER (C 20)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="name" type="xs:string" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Наименование получателя (C 18)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="rnn" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
РНН реорганизованного лица. Может отсутствовать. (C 17.1)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="statuses" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="status" type="tns:CustomerType" maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation>Тип получателя</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="tin" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
ИИН/БИН. Может отсутствовать если установлен статус CustomerType.NONRESIDENT (C 17)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="trailer" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Дополнительные сведения</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DeliveryTerm">
        <xs:annotation>
            <xs:documentation>Условия поставки (E)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="contractDate" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
Дата договора(контракт) на поставку товаров (работ, услуг) (E 25.2)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="contractNum" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
Номер договора(контракт) на поставку товаров (работ, услуг) (E 25.1)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="destination" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
Пункт назначения поставляемых товаров (работ, услуг) (E 29)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="exerciseWay" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Способ отправления (E 27)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="term" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Условия оплаты по договору (E 26)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="warrant" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
Номер доверенности на поставку товаров (работ, услуг) (E 28.1)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="warrantDate" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
Дата доверенности на поставку товаров (работ, услуг) (E 28.2)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProductSet">
        <xs:annotation>
            <xs:documentation>Товары (работы, услуги) (G)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="currencyCode" type="xs:string" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Код валюты (G 13)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="currencyRate" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Курс валюты</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:fractionDigits value="2"/>
                        <xs:totalDigits value="14"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="product" type="tns:Product" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Данные по ТРУ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="totalExciseAmount" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Итоговая Акциз-Сумма (G 9)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:fractionDigits value="2"/>
                        <xs:totalDigits value="17"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="totalNdsAmount" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Итоговая НДС-Сумма (G 12)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:fractionDigits value="2"/>
                        <xs:totalDigits value="17"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="totalPriceWithTax" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Итоговая стоимость ТРУ с учетом НДС (G 13)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:fractionDigits value="2"/>
                        <xs:totalDigits value="17"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="totalPriceWithoutTax" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Итоговая стоимость ТРУ без учета НДС (G 7)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:fractionDigits value="2"/>
                        <xs:totalDigits value="17"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="totalTurnoverSize" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Итоговый размер оборота по реализации (G 10)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:fractionDigits value="2"/>
                        <xs:totalDigits value="17"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Product">
        <xs:annotation>
            <xs:documentation>Товар (работа, услуга)</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ns1:AbstractProduct">
                <xs:sequence>
                    <xs:element name="additional" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Дополнительные данные (G 17)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="applicationNumberInCustomsUnion" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Номер заявления в рамках ТС (G 16)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="description" type="xs:string" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Наименование ТРУ (G 2)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="exciseAmount" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Акциз-Сумма (G 9)</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:fractionDigits value="2"/>
                                <xs:totalDigits value="17"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="exciseRate" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Акциз-Ставка (G 8)</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:fractionDigits value="2"/>
                                <xs:minInclusive value="0"/>
                                <xs:totalDigits value="14"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="ndsAmount" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>НДС-Сумма (G 12)</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:fractionDigits value="2"/>
                                <xs:totalDigits value="17"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="ndsRate" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>НДС-Ставка (G 11)</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:int">
                                <xs:maxInclusive value="100"/>
                                <xs:minInclusive value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="priceWithTax" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Стоимость ТРУ с учетом НДС (G 13)</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:fractionDigits value="2"/>
                                <xs:totalDigits value="17"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="priceWithoutTax" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Стоимость ТРУ без учета НДС (G 7)</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:fractionDigits value="2"/>
                                <xs:totalDigits value="17"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="quantity" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Кол-во (объем) (G 5)</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:fractionDigits value="6"/>
                                <xs:totalDigits value="18"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="turnoverSize" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Размер оборота по реализации (G 10)</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:fractionDigits value="2"/>
                                <xs:totalDigits value="17"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="unitCode" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Код товара (ТНВД) (G 3)</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                                <xs:minLength value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="unitNomenclature" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Ед.изм (G 4)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="unitPrice" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Цена (тариф) за единицу ТРУ без учета НДС (G 6)</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:fractionDigits value="6"/>
                                <xs:totalDigits value="18"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PublicOffice">
        <xs:annotation>
            <xs:documentation>Реквизиты государственного учреждения (F)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="bik" default="KKMFKZ2A" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>БИК. Неизменяемое поле (F 33)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="KKMFKZ2A"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="iik" type="xs:string" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Расчетный счет (F 30)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="payPurpose" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Назначение платежа (F 32)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value=".[^:\n\r\t]*"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="productCode" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Код товаров (работ, услуг) (F 31)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Seller">
        <xs:annotation>
            <xs:documentation>Поставщик (B)</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ns1:AbstractCustomer">
                <xs:sequence>
                    <xs:element name="address" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Адрес (B 8)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="bank" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Банк (B 16)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="bik" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>БИК (B 15)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="certificateNum" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Номер cвидетельства НДС (B 9.2)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="certificateSeries" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Серия cвидетельства НДС (B 9.1)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="deliveryDocDate" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
Дата документа, подтверждающего поставку товаров (работ, услуг) (B 11.2)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="deliveryDocNum" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
Номер документа, подтверждающего поставку товаров (работ, услуг) (B 11.1)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="iik" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Расчетный счет (B 14)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="kbe" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>КБе (B 13)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="name" type="xs:string" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Наименование поставщика (B 7)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="rnn" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>РНН реорганизованного лица (B 6.1)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="statuses" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="status" type="tns:SellerType" maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation>Тип поставщика</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="tin" type="xs:string" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>ИИН/БИН (B 6)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="trailer" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Дополнительные сведения (B 12)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="CustomerType">
        <xs:annotation>
            <xs:documentation>Тип получателя (C 22)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMMITTENT">
                <xs:annotation>
                    <xs:documentation>Комитент</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BROKER">
                <xs:annotation>
                    <xs:documentation>Комиссионер</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LESSEE">
                <xs:annotation>
                    <xs:documentation>Лизингополучатель</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="JOINT_ACTIVITY_PARTICIPANT">
                <xs:annotation>
                    <xs:documentation>Участник договора совместной деятельности</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PUBLIC_OFFICE">
                <xs:annotation>
                    <xs:documentation>Государственное учреждение</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NONRESIDENT">
                <xs:annotation>
                    <xs:documentation>Нерезидент</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INDIVIDUAL">
                <xs:annotation>
                    <xs:documentation>Физическое лицо</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SellerType">
        <xs:annotation>
            <xs:documentation>Тип поставщика (B 10)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMMITTENT">
                <xs:annotation>
                    <xs:documentation>Комитент</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BROKER">
                <xs:annotation>
                    <xs:documentation>Комиссионер</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FORWARDER">
                <xs:annotation>
                    <xs:documentation>Экспедитор</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LESSOR">
                <xs:annotation>
                    <xs:documentation>Лизингодатель</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="JOINT_ACTIVITY_PARTICIPANT">
                <xs:annotation>
                    <xs:documentation>Участник договора совместной деятельности</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXPORTER">
                <xs:annotation>
                    <xs:documentation>Экспортёр</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>